<div class="wrapper" ng-controller="ManageEmployeesController" style=" font-family: Diavlo, Diavlo Book, sans-serif;">
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="header">
              <h4 class="title">Employees</h4>
                <a ui-sref="editEmployeesPage({idEmployee: (employees.length)+1})">
                  <md-button class="md-raised" style="background-color:#F5CA98;">Add employee</md-button>
                </a>
            </div>
            <div class="content table-responsive table-full-width">
              <table class="table table-hover table-striped">
                <thead>
                  <th>Id</th>
                  <th>First name</th>
                  <th>Last name</th>
                  <th>Job type</th>
                  <th>Phone number</th>
                  <th>Email address</th>
                  <th>Address</th>
                  <th>City</th>
                  <th>Country</th>
                  <th>Actions</th>
                </thead>
                <tbody>
                  <tr ng-repeat="employee in employees">
                    <td>{{employee.id}}</td>
                    <td>{{employee.firstName}}</td>
                    <td>{{employee.lastName}}</td>
                    <td>{{employee.job}}</td>
                    <td>{{employee.phone}}</td>
                    <td>{{employee.email}}</td>
                    <td>{{employee.address}}</td>
                    <td>{{employee.city}}</td>
                    <td>{{employee.country}}</td>
                    <td class="td-actions">
                      <a ui-sref="editEmployeesPage({idEmployee: employee.id})">
                        <button type="button" rel="tooltip" title="Edit Task" class="btn btn-info btn-simple btn-xs">
                            <i class="fa fa-edit"></i>
                        </button>
                      </a>
                      <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs" ng-click="removeEmployee(employee)">
                            <i class="fa fa-times"></i>
                        </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
