<div class="wrapper" ng-controller="ManageRoomsController" style=" font-family: Diavlo, Diavlo Book, sans-serif;">
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="header">
              <md-button class="md-raised" ng-click="showAdvanced($event)"
                  style="background-color:#F5CA98;">
                  Add a room
              </md-button>
            </div>
            <div class="content table-responsive table-full-width">
              <table class="table table-hover table-striped">
                <thead>
                  <th>Room number</th>
                  <th>Room type</th>
                  <th>Bathroom in room</th>
                  <th>Actions</th>
                </thead>
                <tbody>
                  <tr ng-repeat="room in rooms">
                    <td>{{room.name}}</td>
                    <td>{{room.type}}</td>
                    <td>{{room.bath}}</td>
                    <td class="td-actions">
                      <button type="button" rel="tooltip" title="Edit Task" class="btn btn-info btn-simple btn-xs" ng-click="showAdvanced($event, room)">
                            <i class="fa fa-edit"></i>
                        </button>
                      <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs" ng-click="removeItem(room)">
                            <i class="fa fa-times"></i>
                        </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
