<div class="wrapper" ng-controller="BookRoomsController" style=" font-family: Diavlo, Diavlo Book, sans-serif;">
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">

            <input type="text" id="myInput" ng-model="searchBox" placeholder="Search...">

            <div class="header">
              <md-button class="md-raised" ng-click="showModal($event)" style="background-color:#F5CA98;">Add booking</md-button>
            </div>

            <div class="content table-responsive table-full-width">
              <table class="table table-hover table-striped" id="myTable">
                <thead>
                  <th>Check-in date</th>
                  <th>Check-out date</th>
                  <th>Room(s)</th>
                  <th>Occupant's name</th>
                  <th>Occupant's phone number</th>
                  <th>Actions</th>
                </thead>
                <tbody>
                  <tr ng-repeat="booking in bookings | filter:searchBox">
                    <td>{{booking.checkin.toDateString()}}</td>
                    <td>{{booking.checkout.toDateString()}}</td>
                    <td>{{arrayToString(booking.rooms)}}</td>
                    <td>{{booking.name}}</td>
                    <td>{{booking.phone}}</td>
                    <td class="td-actions">
                      <button type="button" rel="tooltip" title="Edit Task" class="btn btn-info btn-simple btn-xs" ng-click="showModal($event, booking)">
                            <i class="fa fa-edit"></i>
                        </button>
                      <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs" ng-click="remove(booking)">
                            <i class="fa fa-times"></i>
                        </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
