<div class="wrapper" ng-controller="SpecialOffersController" style=" font-family: Diavlo, Diavlo Book, sans-serif;">
  <div class="content">
    <div class="container-fluid">
      <div ng-cloak>
        <md-content>
          <md-tabs md-dynamic-height md-border-bottom>

            <md-tab label="Easter Offer">
              <md-content class="md-padding">
                <form name="offerForm">
                  <div layout="column">

                    <md-input-container class="md-block" flex-gt-sm>
                      <label>Room price/night</label>
                      <input name="roomPrice" ng-model="SpecialOffersController.easterPrice" id='easter'/>
                      <div ng-messages="offerForm.roomPrice.$error" ng-if="!showHints">
                      </div>
                    </md-input-container>

                    <style>
                      body[dir=rtl] .hint {
                        right: 2px;
                        left: auto;
                      }
                    </style>

                    <div>
                      <md-button class="md-raised" style="background-color:#F5CA98;" type="submit" ng-click="addEasterPrice()">Save</md-button>
                    </div>

                  </div>
                </form>
              </md-content>
            </md-tab>

            <md-tab label="Christmas Offer">
              <md-content class="md-padding">
                <form name="offerForm">
                  <div layout="column">

                    <md-input-container class="md-block" flex-gt-sm>
                      <label>Room price/night</label>
                      <input name="roomPrice" ng-model="SpecialOffersController.christmasPrice" id='christmas'/>
                      <div ng-messages="offerForm.roomPrice.$error" ng-if="!showHints">
                      </div>
                    </md-input-container>

                    <style>
                      body[dir=rtl] .hint {
                        right: 2px;
                        left: auto;
                      }
                    </style>

                    <div>
                      <md-button class="md-raised" style="background-color:#F5CA98;" type="submit" ng-click="addChristmasPrice()">Save</md-button>
                    </div>

                  </div>
                </form>
              </md-content>
            </md-tab>

            <md-tab label="New Year's Eve Offer">
              <md-content class="md-padding">
                <form name="offerForm">
                  <div layout="column">

                    <md-input-container class="md-block" flex-gt-sm>
                      <label>Room price/night</label>
                      <input name="roomPrice" ng-model="SpecialOffersController.newYearPrice" id="newYear"/>
                      <div ng-messages="offerForm.roomPrice.$error" ng-if="!showHints">
                      </div>
                    </md-input-container>

                    <style>
                      body[dir=rtl] .hint {
                        right: 2px;
                        left: auto;
                      }
                    </style>

                    <div>
                      <md-button class="md-raised" style="background-color:#F5CA98;" type="submit" ng-click="addNewYearPrice()">Save</md-button>
                    </div>

                  </div>
                </form>
              </md-content>
            </md-tab>

          </md-tabs>
        </md-content>
      </div>
    </div>
  </div>
</div>
